.Web3UI_AddressInput__Container {
  display: flex;
  flex-direction: column;
}

/* .Web3UI_AddressInput__Label {
} */

.Web3UI_AddressInput__Input {
  margin-top: 4px;
  padding: 8px;
  border-radius: 7px;
  border: 1px solid #ccc;
}

.Web3UI_AddressInput__ErrorMessage {
  color: red;
  margin-top: 4px;
}
