.DS_STORE
packages/**/LICENSE

node_modules
.rpt2_cache
.cache
.env*

/coverage

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# storybook
.out

/coverage

dist
/storybook-static
build-storybook.log


#example
.next
