.DS_STORE
packages/**/LICENSE

# IDE
.idea/

node_modules
.rpt2_cache
.cache
.env*

/coverage

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# storybook
apps/storybook/storybook-static/
apps/storybook/build-storybook.log

#example
.next

# turbo
.turbo

# jest test coverage
coverage-*.json
packages/components/coverage

# dist
dist/