body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.header a {
  background-color: #fff;
  border: none;
  color: #000;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}

.header button {
  background-color: #fff;
  border: none;
  color: #000;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
}

.section {
  margin: 1rem 0;
  border: 1px solid #ccc;
}
.section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem;
}

.item {
  margin: 0;
  padding: 2rem 1rem;
  border: 1px solid #ccc;
}
.item-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem;
}

.item-link {
  color: rgb(54, 50, 241);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.item-link:hover {
  color: rgb(54, 50, 241);
  text-decoration: underline;
}
